/*
  Speedometer Page Styling SCSS
*/
#__Speedometer {

}
$topDist: 37%;
body {
  overflow: hidden;
  width: 1280px;
  height: 800px;
  background-color: #070c05;
}

.tachoStyle {
  position: absolute;
  width: 300px;
  height: 300px;
  //center horizontally & vretically
  top: $topDist;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:  16;
}

.visualizerStyle {
  position: absolute;
  //center horizontally & vretically
  top: $topDist;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index:  0;
}

.batteryStyle{
  position: absolute;
  width: 380px;
  height: 380px;
  z-index:  17;
  //center horizontally & vretically
  top: $topDist;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:  16;
}

.buttonStyle {
  position: absolute;
  height: 80px;
  width: 200px;
  z-index:  13;

  //font-size: 24px;
  //font-weight: bold;
}

.red {
  border: 8px solid red;
}
